<!-- CARGAMOS COMO EXTEND LA PLANTILLA BASE -->
{% extends "main.html" %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE TITULO -->
{% block title %}HOME CANTARO DE PIEDRA{% endblock %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE CONTENIDOS -->
{% block content %}
<div class="text-center mt-5">
      
    <h1 class="m-3 mb-4">
        Acerca de nosotros 
    </h1>
    <div class="lead">
        <p>Somos una Editorial independiente de la ciudad de Rio Cuarto</p> 
        <p>Publicamos libros de interes academico, libros de poesia e investigaciones. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p> 
        <br><br>
        <p>Repellendus eveniet totam possimus omnis ipsum obcaecati minima tempore, </p>    
        <p>voluptatibus dignissimos dicta cumque iure ipsam? Tempora, quaerat perferendis. </p>  
        <p>Debitis magni accusantium molestiae. </p> 
        <br><br>
        <p>Repellendus eveniet totam possimus omnis ipsum obcaecati minima tempore, </p>    
        <p>voluptatibus dignissimos dicta cumque iure ipsam? Tempora, quaerat perferendis. </p>  
        <p>Debitis magni accusantium molestiae. </p> 
    </div>
    <br><br>
    <!-- Aca planeo poner un texto que hable de la editorial y de la historia que tiene con la unrcS -->
{% endblock %}



