<!-- CARGAMOS COMO EXTEND LA PLANTILLA BASE -->
{% extends "main.html" %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE TITULO -->
{% block title %}HOME CANTARO DE PIEDRA{% endblock %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE CONTENIDOS -->
{% block content %}
<div class="text-center mt-5">
      
    <h1>
        Editorial CANTARO de PIEDRA
    </h1>

    <!-- Aca pienso poner las fotos de los dueños
        de la editorial una breve introduccion de cada uno de ellos 
        y linquear los lugares donde los pueden encontrar 
    -->
{% endblock %}



