<!-- CARGAMOS COMO EXTEND LA PLANTILLA BASE -->
{% extends "main.html" %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE TITULO -->
{% block title %}Listado de libro{% endblock %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE CONTENIDOS -->
{% block content %}
<div class="text-center mt-5">
    
    <h1>
        Todos los libros 
    </h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto container">
        {% for libro in libros %}
            <div class="col mx-auto g-5">
                <div class="card rounded">
                    <div class="align-items-center usu gris">
                        <img src= "{{ url_for('static', filename='img_libro/')}}{{ libro.ruta_foto }}" class="card-img-top img_libros"  height="280" alt="">
                    </div>
                    <div class="card-body bg-secondary">
                        <h5 class="card-title"> {{ libro.titulo }}</h5>
                        <p class="card-text">{{ autores.get_by_id(libro.id_autor).nombre }} {{ autores.get_by_id(libro.id_autor).apellido }}</p>
                        <button type="button" class="btn btn-success"data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar Biblioteca">Añadir</button>
                        <a type="button"   href="{% if current_user.is_authenticated == False %}{{ url_for( 'auth.login' ) }}{% else %}{{ url_for('public.like', id_libro=libro.id, page='all_libros' ) }}{% endif %}" title="Agregar a favoritos" class="btn btn-outline-danger {% for like in likes  %}{% if like.id_libro == libro.id %}active{% endif %}{% endfor %} m-1"><i class="bi bi-suit-heart-fill"></i></a>
                        <div class="rating">
                            <label class="star" for="star1" title="Malo" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star2" title="Regular" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star3" title="Bueno" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star4" title="Muy Bueno" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star5" title="Exelente" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
              <div class="card">
                    <img src="{{url_for('static', filename='img/light.jpg')}}" class="card-img-top" alt="...">
                    <div class="card-body bg-secondary">
                        <h5 class="card-title">Libro title</h5>
                        <p class="card-text">Autor sinopsis del libro</p>
                        <button type="button" class="btn btn-success m-1">Añadir <i class="bi bi-suit-plas-fill"></i></button><button type="button" class="btn btn-outline-danger m-1"><i class="bi bi-suit-heart-fill"></i></button>
                        <div class="rating">
                            <label class="star" for="star5" title="Awesome" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star4" title="Great" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star3" title="Very good" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star2" title="Good" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                            <label class="star" for="star1" title="Bad" aria-hidden="true"><i class="stars bi bi-star-fill"></i></label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    <br><br>
</div>
{% endblock %}



