{% extends "base_template.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="text-center">{{ post.title }}</h1>
    <div class="text-center m-1">
        <span class="blogDate">{{ post.created|datetime('full') }}</span>
    </div>
    <div class="mx-auto col-4 h4 text-center text-break4 font-monospace">
    {{ post.content }}
    </div>

    <div class="border border-dark border-start-0 border-bottom-0 border-end-0 m-2 m-4">
    <h2>Comentarios</h2>
    {% if current_user.is_authenticated %}
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.content.label(class="m-1 mt-0")}}
                <div>
                {{ form.content(class="col-11") }}
                {% for error in form.content.errors %}
                </div>
                <span style="color: red;">{{ error }}</span>

                {% endfor %}
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-center me-md-5 ">
                {{ form.submit(class="btn btn-outline-success  me-md-5") }}
            </div>
        </form>
    </div>
    </div>
    {% endif %}
    <div class="border border-dark border-start-0 border-bottom-0 border-end-0 m-2" id="comments">
        {% for comment in post.comments %}
            <div>
                <div class="m-1">
                    El usuario {{ comment.user_name }} comentó el 
                    <span class="blogDate">{{ comment.created|datetime }}</span>:
                </div>
                <div>{{ comment.content }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
