.fondo {
    background: url(../img/grey-370125_960_720.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fondo404 {
    background: url(../img/247.Erro404.jpg) no-repeat center center;
    min-height: 100vh;

}

.fondo401 {
    background: url(../img/error401.jpg)no-repeat center center;
    min-height: 100vh;
}

.usu {
    text-emphasis-color: black;
    text-decoration-color: black;   
}


.contenido {
    min-height: 78.2vh;
}

.usu:hover{
    background-color: cadetblue;
    /* background-color: goldenrod; */
    /* background-color: #21f0b2da; */
    /* background-color: #ca9a51; */
    /* background-color: #51ca9a; */
    border: solid black 0.1ch;   
}

/* .largo{ */
    /* height: 100px */
/* } */
.ddm{
    background: none;
}

.hb:hover{
    background-color: grey;
    padding: 3px;
}
.gris{
    background-color: rgb(199, 194, 194);
}
.dropfondo{
    background-color: rgb(128, 128, 128);    
}
.stars:hover{
    color: #d8d842;    
}

.adm {
    text-emphasis-color: black;
    text-decoration-color: black;
    
}

.adm:hover{
    background-color: cadetblue;
}

.questo:hover {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

.amarillo {
    /* background-color: goldenrod; */
    /* background-color: cadetblue; */
    /* background-color: #21f0b2da; */
    background-color: #ca9a51;


}

.img_libros { margin: 0px;
             width:max-content; 
             align-items: center; 
}